services:
  pg-primary:
    build: ./pg-primary
    container_name: pg-primary
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: orders_db
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
  pg-replica:
      build: ./pg-replica
      container_name: pg-replica
      environment:
        PRIMARY_HOST: pg-primary
        REPLICATOR_USER: replicator
        REPLICATOR_PASSWORD: replicator
        PGDATA: /var/lib/postgresql/data
      ports:
        - "5433:5432"
      depends_on:
        pg-primary:
          condition: service_healthy
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres"]
        interval: 5s
        timeout: 5s
        retries: 10
